html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

address {
  font-style: normal;
}

figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

.overflow-visible {
  overflow: visible !important;
}
