html {
  // font-size: $base-font-size;
}

body {
  color: $base-text-color;
  font-family: $base-font-family;
  font-size: 0.875rem;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

}
h1, .h1 {

}
h2, .h2 {

}
h3, .h3 {

}
h4, .h4 {

}

// a {
//   color: $primary-text-color;
//   text-decoration-skip: ink;
//   transition: all $base-animation;

//   &:hover {
//     color: shade($primary-text-color, 8%);
//   }

//   &:focus {
//     outline: $focus-outline;
//     outline-offset: $focus-outline-offset;
//   }
// }
