.hamburger {
  display: block;
  padding: 5px 0;

  i, i:before, i:after {
    display: block;
    height: 3px;
    width: 20px;
    background-color: white;
  }
  i {
    position: relative;
  }
  i:before {
    content: "";
    position: absolute;
    margin-top: -6px;
    transition: all 0.3s ease-in-out;
  }
  i:after {
    content: "";
    position: absolute;
    margin-top: 6px;
    transition: all 0.3s ease-in-out;
  }
}

.active .hamburger {
  & > i {
    background-color: transparent;

    &:before {
      margin-top: 0;
      transform: rotate(225deg);
    }
    &:after {
      margin-top: 0;
      transform: rotate(-225deg);
    }
  }
}
