.layout {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  &__header {

  }
  &__content {
    flex: 1 1 auto;
    position: relative;
  }
  &__sidebar {

  }
  &__main {

  }

  // Mods
  &--home {

  }
}
