{# //- use(xlink:href="stylesheet/image/svg/symbol/sprite.svg#" + name) #}
{% macro icon(name = "", mode = "") %}
<svg class="icon icon--{{ name }} {{ mode }}">
  <use xlink:href="#{{ name }}"></use>
</svg>
{% endmacro %}
