<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="icon" href="image/favicon/favicon-48.png" sizes="48x48"/>
    <link rel="icon" href="image/favicon/favicon-192.png" sizes="192x192"/>
    <title>{{ title | default("Frontend Template") }}</title>
    {% block styles %}{% endblock %}
    <link href="stylesheet/stylesheet.min.css" type="text/css" rel="stylesheet"/>
  </head>
  <body class="layout layout--{{ bodyClass }}">
    <!--[if lt IE 11]>
    <p class="chromeframe">Похоже, что Вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/">скачай новый браузер бесплатно с официального сайта</a> или <a href="http://www.google.com/chromeframe/?redirect=true">активируй Google Chrome Frame</a></p>
    <![endif]-->

    {% include 'common/header.twig' %}

    {% include "common/navbar.twig" %}

    <div class="layout__content">
      {% block content %}{% endblock %}
    </div>

    {% include 'common/footer.twig' %}

    <!-- include custom libs for all pages here -->
    <!-- <script src="javascript/ls.bgset.min.js" type="text/javascript"></script>
    <script src="javascript/lazysizes.min.js" type="text/javascript"></script> -->
    <script src="javascript/libs.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      //- write custom js for all pages here

      //   Inject SVG Sprite -
      //   https://css-tricks.com/ajaxing-svg-sprite/
      function injectSvgSprite(path) {
        var ajax = new XMLHttpRequest();
        ajax.open("GET", path, true);
        ajax.send();
        ajax.onload = function(e) {
        var div = document.createElement("div");
        div.className = 'd-none';
        div.innerHTML = ajax.responseText;
        document.body.insertBefore(div, document.body.childNodes[0]);
        }
      }
      injectSvgSprite('stylesheet/image/svg/symbol/sprite.svg');

    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>
