.pulse {
  animation: pulse-status 2s linear infinite;
}
@keyframes pulse-status {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 185, 122, 0.7), 0 0 0 0 rgba(0, 185, 122, 0.7);
  }
  40% {
    box-shadow: 0 0 0 8px rgba(0, 185, 122, 0), 0 0 0 0 rgba(0, 185, 122, 0.7);
  }
  80% {
    box-shadow: 0 0 0 8px rgba(0, 185, 122, 0), 0 0 0 5px rgba(0, 185, 122, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 185, 122, 0), 0 0 0 5px rgba(0, 185, 122, 0);
  }
}
