// * Media Queries

// min
@mixin sm() {
  @media screen and (min-width: 576px) {
    @content;
  }
}
@mixin md() {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin lg() {
  @media screen and (min-width: 992px) {
    @content;
  }
}
@mixin xl() {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
@mixin xxl() {
  @media screen and (min-width: 1600px) {
    @content;
  }
}

// max
@mixin max-md() {
  @media screen and (max-width: 991px) {
    @content;
  }
}
