// # Colors
$gray-200: #ededed;
$gray-600: #bfcacc;
$grey-800: #1e1b21;
$orange: #ffa503;
$cyan: #00d3d7;
$pink: #edacc8;
$purple: #7231c0;
$blue: #1a5ca0;
$green: #2aca79;
$yellow: #ffedc5;
$red: #f24d21;

$primary-color: $purple;
$success-color: $green;
$warning-color: $yellow;
$danger-color: $pink;
$info-color: $cyan;
$light-color: $gray-200;

$accent-color: #ff9100;

$light-primary-color: #e0eff3;
$light-success-color: #ddf6ea;
$light-warning-color: #fae1dd;
$light-danger-color: #ffd8d6;
$light-info-color: #e3f3f9;

$base-text-color: #000000;
$primary-text-color: $primary-color;
$success-text-color: $success-color;
$warning-text-color: $warning-color;
$danger-text-color: $danger-color;
$info-text-color: $info-color;
$muted-text-color: $gray-600;

// Typography

$font-stack-base: 'Gilroy', $font-stack-system;
$font-stack-secondary: $font-stack-system;
// $font-size: calc(16px + 2 * (100vw - 768px) / 624);
$font-size: 1rem;

$base-font-family: $font-stack-base;
$base-font-size: $font-size;
$base-line-height: 1.3;
$base-font-weight: 400;

$secondary-font-family: $font-stack-secondary;

$h1-font-size:                $base-font-size * 1.875;
$h2-font-size:                $base-font-size * 1.5;
$h3-font-size:                $base-font-size * 1.25;
$h4-font-size:                $base-font-size * 1.15;
$h5-font-size:                $base-font-size * 1;

$small-font-size: 85%;

// Animations

$base-duration: 200ms;
$base-timing: ease-in-out;
$base-animation: $base-duration $base-timing;

// Focus
$focus-outline-color: transparentize($primary-color, 0.0);
$focus-outline-width: 0;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 0;

// # Vendors Vars Overrides

// ## Bootstrap

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px
);

$theme-colors: (
  "primary":    $primary-color,
  "success":    $success-color,
  "info":       $info-color,
  "warning":    $warning-color,
  "danger":     $danger-color,
  "light":      $light-color,
  "light-primary":    $light-primary-color, // advanced theme colors
  "light-success":    $light-success-color,
  "light-info":       $light-info-color,
  "light-warning":    $light-warning-color,
  "light-danger":     $light-danger-color,

  // "dark":       $dark
);

// navbar

$navbar-brand-font-size: 2.375rem;

// Cards
$card-border-radius:                1.75rem;
$card-spacer-y:                     3rem;
$card-spacer-x:                     3rem;

// Dropdowns

$dropdown-min-width:                18rem;
$dropdown-link-hover-color: $info-color;
$dropdown-font-size:                1.25rem;

// Modal

$modal-inner-padding: 1rem 3rem;
$modal-header-padding-y: 2rem;
$modal-header-padding-x: 3rem;
$modal-header-padding: 2rem 3rem 1rem;
$modal-lg: 945px;
$modal-header-border-color: transparent;
$modal-footer-border-color: transparent;

// Buttons

$btn-padding-x: 2rem;

$btn-border-radius:           1.75rem;
$btn-border-radius-lg:        3rem;
$btn-border-radius-sm:        2rem;

// Forms

$input-font-weight:           600;
$input-bg:                    $gray-200;
$input-border-color:          $gray-200;

$input-border-radius:         $btn-border-radius !default;
$input-border-radius-lg:      $btn-border-radius-lg !default;
$input-border-radius-sm:      $btn-border-radius-sm !default;

$input-padding-x-lg:          1.75rem;

$input-focus-border-color:    $input-border-color;
$input-focus-box-shadow:      none;

// ## Font Awesome

$fa-font-path: 'fonts/fontawesome/'
