{% extends "../layout.twig" %}
{% import "../macro/svg.twig" as svg %}

{% block content %}
  <!-- write custom code here -->

{% endblock %}

{% block scripts %}
  {# include custom page js & libs here #}
{% endblock %}
